@charset "UTF-8";
@media screen and (orientation: portrait){ 
*{ margin: 0px;
   padding: 0px;}
   
body{font-family: Arial, Helvetica, sans-serif;background-color: rgb(216, 132, 22);}

h1{text-shadow: 0px 7px 5px black;color: aliceblue;}       

main{min-width: 320px;
    max-width: 733px;
    background-color: rgba(15, 189, 23, 0.774);       
    padding: 20px;
    border-radius:0px 0px 10px 10px;
    margin: auto;border-radius: 0px 0px 5px 5px;}

.pai{display: flex; flex-direction: row;border-radius: 0px 0px 10px 10px;
    background-image:linear-gradient(to top,#1c9c45,#41E24E ); min-width: 320px;box-shadow: 1px 11px 15px 1px;
    justify-content:center; align-items: top; margin: auto;position: relative;}

.filho:nth-child(2){margin-top: 72px;}

.filho:nth-child(1){padding-top: 50px;} 

ul#lista{margin: 30px 0px 10px 30px;color: rgb(0, 0, 0);}

.container{display: flex;flex-direction: row; justify-content: center;}

.filho:nth-child(3){position: absolute;display: flex;width: 900px;height: 332px;justify-content: space-evenly;margin-right: 20px;margin: auto;align-items: end;min-width: 320px;flex-direction: row}

.filho3:nth-child(1){background-color: aqua;flex-wrap:wrap;} 
}
@media screen and (orientation: landscape) {   
}
